*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: small;
}
.container{
    display: flex;
    
}


@media (min-width: 768px) {
    .container{
        /* width: 750px;*/
    }
    
}

@media (min-width: 992px) {
    .container{
        /*width: 970px;*/
    }

}
@media (min-width: 1200px) {
    .container{
        /*width: 1170px;*/
    }

}

                    /*NavBar*/

.nav-bar{
    width: 200px;
    height: 100vh;
    background-color: rgb(51, 49, 49);
    color:rgb(214, 214, 214);
}

@media (max-width: 570px) {
    .container{
        /* width: 750px;*/
        flex-direction: column;
    }
    .nav-bar{
        width: 100%;
        height: auto;
        text-align: center;
    }
    
}

.nav-bar h2{
    text-align: center;
    letter-spacing: -1px;
    font-weight: 600;
    margin-bottom: 50px;
}
.nav-bar .spcial-weight{
    font-weight: 100;
    font-size: 22px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}
.nav-bar h2:hover {
    color: rgb(141, 162, 230);
}

.nav-bar .nav-item{
    padding: 15px;
    cursor: pointer;
}
.cat-page .cat{
    background-color: rgb(100, 97, 97);
    color: rgb(255, 255, 255);
}


.nav-bar .dash:hover{
    background-color: rgb(223, 111, 19);
}
.nav-bar .cat:hover{
    background-color: rgb(64, 126, 219);
}
.nav-bar .pro:hover{
    background-color: rgb(29, 100, 23);
}

.nav-bar p.logout{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(218, 42, 42);
    cursor: pointer;
    transition: 0.6s;
}
.nav-bar p.logout:hover{
    background-color: rgb(189, 69, 69);
    padding-right: 35px;

}


                /*Main-content: Categories*/

.main-content{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.main-content .insrt-bttn{
    background-color: rgb(39, 100, 39);
    padding: 8px;
    border-radius: 3px;
    color: white;
    width: fit-content;
    cursor: pointer;
}

.main-content .insrt-bttn:hover{
    background-color: rgb(117, 165, 117);
}
        /*Categories table*/

.cat-table .table-head{
    background-color: rgb(49, 173, 214);
    padding: 10px;
    border-radius: 3px;
    color: white;
    margin-bottom: 0;
}




table {
    border-collapse: collapse;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


td, tr, th{
    padding: 10px;
    text-align: left;
}


tr:nth-child(even) {
    background-color: #dddddd;
    
}


table .edit{
    background-color: rgb(39, 100, 39);
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

table .delete{
    background-color: rgb(185, 49, 49);
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

table .edit:hover,
table .delete:hover{
    opacity: 0.7;
}

.border{
    border: 1px solid #aaa;
    padding-bottom: 20px;
    background-color: #eee;
    overflow-x:auto;

}
.page-num{
    text-align: center;
    margin-top: 35px;
    font-weight: 600;
}

.page-control{
    padding: 7px 0 7px 0;
    margin-right: auto;
    margin-left: auto; 
    width: fit-content;
/*    border: 1px solid #aaa;*/
}

.page-control .first-page{
    padding: 5px;
    color: rgb(21, 125, 160);
    cursor: pointer;
    border-right: 1px solid #aaa;
    
}
.page-control .prev,
.nxt{
    padding: 5px;
    cursor: pointer;
    border-right: 1px solid #aaa;

}
.page-control .last{
    padding: 5px;
    cursor: pointer;
    color: rgb(21, 125, 160);
}
.page-control .first-page:hover,
.page-control .prev:hover,
.page-control .nxt:hover,
.page-control .last:hover{
    background-color: #aaa;
    text-decoration: underline;
}


            /*Product Page*/


.pro-page .pro{
    background-color: rgb(100, 97, 97);
    color: rgb(255, 255, 255);
}

@media (max-width: 730px) {
    .prod-container{
        /* width: 750px;*/
        flex-direction: column;
    }
    .prod-container .nav-bar{
        margin-bottom: 70px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    
}

            /*Categories insert*/

.border .cat-insert{
    margin: 40px auto 40px auto;
    width: 40%;
    min-width: 300px;
    padding: 20px 15px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.border .cat-insert [type=text] {
    width: 100%; 
    border-radius: 5px; 
    border: 0.5px solid #aaa;
    padding: 5px;
}
.border .cat-insert textarea{
    border-radius: 5px; 
    border: 0.5px solid #aaa;
    width: 100%;
    padding: 5px;
    height: 70px;
}

.cat-insert .save-btn{
    padding: 8px;
    color: #fff;
    background-color: rgb(39, 100, 39);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.cat-insert .delete-btn{
    padding: 8px;
    color: #fff;
    background-color: rgb(185, 49, 49);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.cat-insert .save-btn:hover,
.cat-insert .delete-btn:hover{
    opacity: 0.9;
}
